<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-signin' }) do |f| %>
  <%= f.error_notification %>
  <h3 class='form-signin-heading'>Восстановление пароля.</h3>
  <hr class='colorgraph'><br>
  <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %>
  <br>

  <div class="form-actions">
    <%= f.button :submit, 'Восстановить пароль', class: 'submit btn-lg btn-primary btn-block' %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>
