<!DOCTYPE html>
<html>
  <head>
    <title>Isfree</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class='navbar navbar-toggleable-md navbar-light bg-faded'>
      <a class='navbar-brand' href='<%= root_path %>'>Space Is Free</a>
      <%= render 'layouts/dropdown_navbar' %>
      <%= render 'layouts/navbar' %>
    </nav>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class='container-fluid'>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
